openapi: 3.1.0
info:
  title: Breathe HR REST Absences Sicknesses API
  description: Breathe HR is a UK SMB HRIS. The REST API exposes employees, absences, holidays, sicknesses, and account resources as JSON over HTTP. Requests authenticate with an X-API-KEY header containing the per-account token generated under Configure > API Settings.
  version: v1
  contact:
    name: Breathe HR Developer
    url: https://developer.breathehr.com/
servers:
- url: https://api.breathehr.com/v1
  description: Production
- url: https://api.sandbox.breathehr.com/v1
  description: Sandbox
security:
- ApiKeyAuth: []
tags:
- name: Sicknesses
paths:
  /sicknesses:
    get:
      summary: List sickness records
      operationId: listSicknesses
      tags:
      - Sicknesses
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        schema:
          type: integer
          default: 50
      - name: employee_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Sickness records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sickness'
    post:
      summary: Create a sickness record
      operationId: createSickness
      tags:
      - Sicknesses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SicknessInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sickness'
  /sicknesses/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get a sickness record
      operationId: getSickness
      tags:
      - Sicknesses
      responses:
        '200':
          description: Sickness
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sickness'
components:
  schemas:
    Sickness:
      type: object
      properties:
        id:
          type: integer
        employee_id:
          type: integer
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        reason:
          type: string
    SicknessInput:
      type: object
      required:
      - employee_id
      - start_date
      properties:
        employee_id:
          type: integer
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        reason:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
